main {
    background-color:rgb(184, 30, 30) ;
    width: 80%;
    background-color:rgba(241, 241, 241, 0.973);
    margin: 50px auto 50px auto ;
    max-width: 960px;
    padding: 50px;
    border-radius: 30px;
}
img{
    width: 100;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block;
    position: relative;

}
header{
    font-size: 40px;
    color:rgb(199, 53, 53);
    font-weight: bold;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(145, 29, 29);
}

